p {
  margin: 0;
}

.content-main {
  max-width: 75rem;
  padding-inline: 5rem;
  padding-top: 5rem;
  padding-bottom: 6rem;
  margin-inline: auto;
}

.main-title {
  padding-bottom: 5rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.main-pf {
  display: block;
  width: 100%;
  margin-inline: auto;
}
.main-pf-imgflex {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 2.25rem;
  max-width: 100%;
}
.main-pf-imgflex > * {
  flex: 1 0 1;
}
.main-desc {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  font-size: 1.125rem;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

#zb1 {
  aspect-ratio: 560/315;
}

#mbc {
  aspect-ratio: 560/315;
}

#bookmotion {
  aspect-ratio: 560/315;
}

#beauty-inside {
  aspect-ratio: 560/315;
}

#kinetictypo {
  aspect-ratio: 560/315;
}

#elsword {
  aspect-ratio: 560/315;
}

.content-paging {
  display: flex;
  justify-content: space-between;
  max-width: 75rem;
  padding-block: 2rem 4rem;
  padding-inline: 2rem;
  margin-inline: auto;
  font-size: 2rem;
}

.prev-page {
  display: flex;
  align-items: center;
}

.next-page {
  display: flex;
}

.icon {
  max-width: 6rem;
}