p {
  margin: 0;
}

.wrap {
  background-color: #f6f5f0;
}

// p태그에 공간띄워주고싶을때
.p-pdB {
  padding-bottom: 0.75rem;
}

.p-reels {
  padding-top: 1rem;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
}

.content-1 {
  // 여기에 배경색 들어감
  // background-color: aquamarine;
}

.content-main {
  max-width: 75rem;
  padding-inline: 5rem;
  padding-top: 5rem;
  padding-bottom: 6rem;
  margin-inline: auto;
}

.content-discript {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-auto-rows: auto;
  max-width: 75rem;
  padding-bottom: 6rem;
  margin-inline: auto;
}

.main {
  &-title {
    padding-bottom: 4rem;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
  }

  &-pf {
    display: block;
    width: 100%;
    margin-inline: auto;

    &-imgflex {
      box-sizing: border-box;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
      gap: 2.25rem;
      max-width: 100%;
    }
  }

  &-imgTypo {
    // max-width: 100%;
  }

  &-imgGraphic {
    max-width: 600px;
    padding-bottom: 2rem;
    margin-inline: auto;
  }

  &-desc {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    font-size: 1.125rem;
    font-weight: 400;
  }

  &-detailBox {
    padding-block: 0 3rem;
    padding-inline: 2rem;
    text-align: center;
  }
}

.imgTypo-1 {
  max-width: 70%;
  padding-bottom: 2rem;
  margin-inline: auto;
}

img {
  display: block;
  max-width: 100%;
}

#mnn_gird {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

// 영상사이즈
#zb1 {
  aspect-ratio: 560/315;
}

#mbc {
  aspect-ratio: 560/315;
}

#bookmotion {
  aspect-ratio: 560/315;
}

#beauty-inside {
  aspect-ratio: 560/315;
}

#kinetictypo {
  aspect-ratio: 560/315;
}

#elsword {
  aspect-ratio: 560/315;
}

.content-2 {
  // 여기에 배경색 들어감
}

.content-paging {
  display: flex;
  max-width: 90rem;
  padding-block: 2rem 4rem;
  padding-inline: 2rem;
  margin-inline: auto;
  font-size: 1.75rem;
  font-weight: 500;

  // white-space: nowrap;
}

.prev-page {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}

.prev-page > a:hover {
  color: #e2b8e0;
}

.next-page {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
}

.next-page > a:hover {
  color: #e2b8e0;
}

.icon {
  max-width: 5rem;

  // margin: 0;
}

::selection {
  color: #121115; /* 텍스트 색상 */
  background-color: #e2b8e0; /* 배경색 */
}
