p {
  margin: 0;
}

.content-1 {
  // 여기에 배경색 들어감
  // background-color: aquamarine;
}

.content-main {
  max-width: 75rem;
  padding-inline: 5rem;
  padding-top: 5rem;
  padding-bottom: 6rem;
  margin-inline: auto;
}

.main {
  &-title {
    padding-bottom: 5rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
  }

  &-pf {
    display: block;
    width: 100%;
    margin-inline: auto;

    &-imgflex {
      box-sizing: border-box;

      // display: flex;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
      gap: 2.25rem;

      // flex의 자녀한테 먹이는 속성, 근데 flex말고 grid를 쓰자..
      > * {
        flex: 1 0 1;
      }

      max-width: 100%;

      // height: auto;
    }
  }

  &-desc {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    font-size: 1.125rem;
    font-weight: 400;
  }
}

img {
  display: block;
  max-width: 100%;
}

// 영상사이즈
#zb1 {
  aspect-ratio: 560/315;
}

#mbc {
  aspect-ratio: 560/315;
}

#bookmotion {
  aspect-ratio: 560/315;
}

#beauty-inside {
  aspect-ratio: 560/315;
}

#kinetictypo {
  aspect-ratio: 560/315;
}

#elsword {
  aspect-ratio: 560/315;
}

.content-2 {
  // 여기에 배경색 들어감
}

.content-paging {
  display: flex;
  max-width: 75rem;
  padding-block: 2rem 4rem;
  padding-inline: 2rem;
  margin-inline: auto;
  font-size: 1.75rem;

  // white-space: nowrap;
}

.prev-page {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}

.next-page {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
}

.icon {
  max-width: 5rem;

  // margin: 0;
}
