// 편집할 부분
// .wrap {
//   background-color: #121115;
// }

.wrap {
  background-color: #121115;
}

.portfolio-header {
  color: #e2b8e0;
  border-color: #e2b8e0;
}

.portfolio-footer {
  color: #e2b8e0;
}

.container {
  // background-color: burlywood;
}

.content {
  max-width: 90rem;
  padding-inline: 5rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-inline: auto;

  &-bg-1 {
    // background-color: #121115;
  }

  &-bg-2 {
    // background-color: #121115;
  }

  &-bg-3 {
    // background-color: #121115;
  }

  .title {
    padding-bottom: 2.5rem;
    font-size: 5rem;
    font-weight: 700;
    color: #e2b8e0;
  }
}

// 모션그래픽

.grid_motion-card {
  display: grid;

  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1.25rem;
}

.motion-card {
  &-image {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: scale-down;
    background-color: black;
    border-radius: 0.75rem;
  }
}

img {
  display: block;
  max-width: 100%;
}

// 타이포그래피
.bg_typo {
  // background-color: bisque;
}

.grid_typo-card {
  display: grid;

  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 6rem;
}

.typo-card {
  &-image {
    background-color: black;

    // aspect-ratio: 2/3;
    // object-fit: cover;
  }
}

// 그래픽디자인
.bg_graphic {
  // background-color: bisque;
}

.grid_graphic-card {
  display: grid;

  // grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 6rem;
}

.graphic-card {
  &-image {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

// 업데이팅
.txt {
  padding-block: 8rem;
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
}

.card-title {
  padding-top: 1.25rem;

  // 폰트설정
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

// 애니메이션관련설정
// ++ 모션카드
.motion-card {
  position: relative;
  overflow: hidden;
}

.motion-card::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #f8ea65;
  border-radius: 0.75rem;
  opacity: 0;
  transition: all 0.35s;
}

a:hover .motion-card::after {
  opacity: 1;
}

.motion-card > .top {
  position: absolute;
  bottom: -80%;
  left: 30px;
  z-index: 2;
  font-family: pretendard;
  font-size: 1.75rem;
  font-weight: 600;
  color: #121115;
  transition: all 0.35s;
}

.motion-card > .bottom {
  position: absolute;
  top: 150%;
  left: 30px;
  z-index: 2;
  font-family: pretendard;
  font-size: 1rem;
  font-weight: 500;
  color: #121115;
  transition: all 0.35s;
}

.motion-card:hover .top {
  bottom: 49%;
}

.motion-card:hover .bottom {
  top: 52%;
}

// 타이포 카드
.typo-card {
  position: relative;
  overflow: hidden;
}

.typo-card::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #f6f5f0;
  opacity: 0;
  transition: all 0.35s;
}

a:hover .typo-card::after {
  opacity: 1;
}

.typo-card > .top-typo {
  position: absolute;
  bottom: -80%;
  left: 45px;
  z-index: 2;
  font-family: pretendard;
  font-size: 1.75rem;
  font-weight: 600;
  color: #121115;
  transition: all 0.35s;
}

.typo-card > .bottom-typo {
  position: absolute;
  top: 150%;
  left: 45px;
  z-index: 2;
  font-family: pretendard;
  font-size: 1rem;
  font-weight: 500;
  color: #121115;
  transition: all 0.35s;
}

.typo-card:hover .top-typo {
  bottom: 49%;
}

.typo-card:hover .bottom-typo {
  top: 52%;
}

// 그래픽 카드
.graphic-card {
  position: relative;
  overflow: hidden;
}

.graphic-card::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #e2b8e0;
  opacity: 0;
  transition: all 0.35s;
}

a:hover .graphic-card::after {
  opacity: 1;
}

.graphic-card > .top-graphic {
  position: absolute;
  bottom: -80%;
  left: 45px;
  z-index: 2;
  font-family: pretendard;
  font-size: 1.75rem;
  font-weight: 600;
  color: #121115;
  transition: all 0.35s;
}

.graphic-card > .bottom-graphic {
  position: absolute;
  top: 150%;
  left: 45px;
  z-index: 2;
  font-family: pretendard;
  font-size: 1rem;
  font-weight: 500;
  color: #121115;
  transition: all 0.35s;
}

.graphic-card:hover .top-graphic {
  bottom: 49%;
}

.graphic-card:hover .bottom-graphic {
  top: 52%;
}

// 편집 끝
