// 편집할 부분
// .wrap {
//   background-color: #121115;
// }

.wrap {
  background-color: #121115;
}

.portfolio-header {
  color: #e2b8e0;
  border-color: #e2b8e0;
}

.portfolio-footer {
  color: #e2b8e0;
}

.container {
  // background-color: burlywood;
}

.content {
  max-width: 90rem;
  padding-inline: 5rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-inline: auto;

  &-bg-1 {
    // background-color: #121115;
  }

  &-bg-2 {
    // background-color: #121115;
  }

  &-bg-3 {
    // background-color: #121115;
  }

  .title {
    padding-bottom: 2.5rem;
    font-size: 5rem;
    font-weight: 800;
    color: #e2b8e0;
  }
}

// 모션그래픽

.grid_motion-card {
  display: grid;

  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1.25rem;
}

.motion-card {
  &-image {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: scale-down;
    background-color: black;
    border-radius: 0.75rem;
  }
}

img {
  display: block;
  max-width: 100%;
}

// 타이포그래피
.bg_typo {
  // background-color: bisque;
}

.grid_typo-card {
  display: grid;

  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 6rem;
}

.typo-card {
  &-image {
    background-color: black;

    // aspect-ratio: 2/3;
    // object-fit: cover;
  }
}

// 그래픽디자인
.bg_graphic {
  // background-color: bisque;
}

.grid_graphic-card {
  display: grid;

  // grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 6rem;
}

.graphic-card {
  &-image {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

// 업데이팅
.txt {
  padding-block: 8rem;
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
}

.card-title {
  padding-top: 1.25rem;

  // 폰트설정
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

// 편집 끝
