@charset "UTF-8";
body {
  overflow-x: hidden;
}

p {
  margin: 0;
}

.portfolio-header {
  color: #e2b8e0;
  border-color: #e2b8e0;
}

.header {
  background-color: #121115;
}

.content-1 {
  background-color: #121115;
}
.content-2 {
  background-color: #e2b8e0;
}

.content-about {
  max-width: 80rem;
  padding-block: 15rem;
  margin-inline: auto;
}

.flex-about {
  display: flex;
  gap: 4rem;
  justify-content: center;
}
.flex-btn {
  display: flex;
  gap: 1.5rem;
}

.about-txt {
  margin-block: auto;
}

#about-lottie {
  max-width: 30rem;
}

.about-txt {
  color: #e2b8e0;
}
.about-name {
  padding-bottom: 1rem;
}
.about-name--ko {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.about-name--en {
  font-size: 2.25rem;
}
.about-birth {
  padding-bottom: 1.5rem;
  font-size: 2rem;
}
.about-btn {
  position: relative;
  padding-block: 0.5rem;
  padding-inline: 24px;
  overflow: hidden;
  font-size: 1.5rem;
  color: #e2b8e0;
  cursor: url("../../basic-home.asset/cursor-1.svg") 20 10, auto;
  background-color: transparent;
  border: 1px solid #e2b8e0;
  border-radius: 99px;
  transition: all 0.3s;
}

.about-btn:focus {
  outline: none;
}

.about-btn:hover {
  color: #121115;
  background-color: #f8ea65;
  border: 1px solid #f8ea65;
}

.content-exp {
  max-width: 100rem;
  padding-block: 5rem;
  padding-inline: 5rem;
  margin-inline: auto;
}

.exp-title {
  padding-bottom: 4rem;
  font-size: 5rem;
  font-weight: 700;
}
.exp-list--section {
  display: flex;
  gap: 4rem;
  padding-bottom: 8rem;
}

.scroll-1 {
  position: relative;
  left: 0;
  animation: slide 0.5s ease-out;
}

.scroll-2 {
  position: relative;
  left: 0;
  animation: slide 0.5s ease-out;
}

@keyframes slide {
  from {
    left: 10rem;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 10rem;
    opacity: 0;
  }
}
.section-date {
  padding-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.exp {
  color: #121115;
}

.title {
  padding-bottom: 0.75rem;
  margin-top: -1.25rem;
  font-size: 4rem;
  font-weight: 700;
}

.sub {
  padding-left: 0.625rem;
  font-size: 28px;
}

.footer {
  background-color: #e2b8e0;
}

::-moz-selection {
  color: #f8ea65; /* 텍스트 색상 */
  background-color: none; /* 배경색 */
}

::selection {
  color: #f8ea65; /* 텍스트 색상 */
  background-color: none; /* 배경색 */
}