// container 시작
p {
  margin: 0;
}

.header {
  background-color: #f6f5f0;
}

.content {
  &-1 {
    background-color: #f6f5f0;
  }

  &-2 {
    background-color: #e2b8e0;
  }

  // background-color: aquamarine;
}

.content-about {
  max-width: 60rem;

  // padding-inline: 5rem;
  padding-block: 20rem;

  // background-color: antiquewhite;

  // padding-top: 8rem;antiquewhite
  // padding-bottom: 8rem;
  margin-inline: auto;
}

.flex {
  &-about {
    display: flex;
    gap: 4rem;
    justify-content: center;
  }

  &-btn {
    display: flex;
    gap: 1.5rem;
  }
}

.about-btn {
  background-color: #f8ea65;
}

.about-txt {
  // padding: 1rem;
}

.about {
  &-name {
    padding-bottom: 1rem;

    &--ko {
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: 1.5px;
    }

    &--en {
      font-size: 2.25rem;
    }
  }

  &-birth {
    padding-bottom: 1.5rem;
    font-size: 2rem;
  }

  &-btn {
    padding-block: 0.5rem;
    padding-inline: 24px;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 99px;
  }
}

.content-exp {
  max-width: 100rem;
  padding-block: 5rem;
  padding-inline: 5rem;

  // padding-inline: 5rem;
  margin-inline: auto;

  // background-color: antiquewhite;
}

.exp {
  &-title {
    padding-bottom: 4rem;
    font-size: 5rem;
    font-weight: 700;
  }

  &-list {
    &--section {
      // flex속성
      display: flex;
      gap: 4rem;
      padding-bottom: 8rem;
    }
  }
}

.section {
  &-date {
    padding-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
  }

  &-act {
  }
}

// exp 텍스트 관련
.exp {
  color: #121115;
}

.title {
  padding-bottom: 0.75rem;
  margin-top: -1.25rem;
  font-size: 4rem;
  font-weight: 700;
}

.sub {
  padding-left: 0.625rem;
  font-size: 28px;
}

.footer {
  background-color: #e2b8e0;
}
